<h1><%= t ".header" %></h1>

<p><%= t ".guide" %></p>

<%= link_to t(".reset_password"), edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p><%= t ".expire" %></p>

<p><%= t ".ignore" %></p>
