<% provide :title, t("user.show.title") %>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("user.show.field.name") %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t("user.show.field.email") %>:</strong>
  <%= @user.email %>
</p>

<%= link_to t("user.show.function.edit"), edit_user_path(@user) %> |
<%= link_to t("user.show.function.back"), users_path %>
