<% provide :title, t(".title") %>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= t ".field.name" %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t ".field.email" %>:</strong>
  <%= @user.email %>
</p>

<%= link_to t(".function.edit"), edit_user_path(@user) %> |
<%= link_to t(".function.back"), users_path %>
