<% provide :title, t("micropost.index.title") %>
<p id="notice"><%= notice %></p>

<h1><%= t("micropost.index.header") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t("micropost.index.field.content") %></th>
      <th><%= t("micropost.index.field.user") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
        <td><%= micropost.user_id %></td>
        <td><%= link_to t("micropost.index.table.show"), micropost %></td>
        <td><%= link_to t("micropost.index.table.edit"), edit_micropost_path(micropost) %></td>
        <td>
          <%= link_to t("micropost.index.table.destroy"),
                      micropost,
                      method: :delete,
                      data: { confirm: t("micropost.index.table.destroy_confirm") }
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("micropost.index.table.new"), new_micropost_path %>
